
@font-face {
  font-family: "Nunito";
  src: url("scr/assets/fonts/Nunito-VariableFont_wght.ttf") format(truetype);
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("scr/assets/fonts/Nunito-Italic-VariableFont_wght.ttf") format(truetype);
  font-weight: 100 900;
  font-style: italic;
}