
.div-dados {
    width: 100%;
    height: parseRem(150);
    margin-top: parseRem(40);
    display: flex;
    align-items: center;
    gap: parseRem(20);
}

.div-grids {
    width: parseRem(350);
    height: parseRem(110);
    border-radius: 8px;
    border: 1px solid #60698181;
    color: #F9FAFD;
    background-color: #191d2c;
}

.content-dados {
    width: 90%;
    height: 90%;
    margin-top: parseRem(10);
    margin-left: parseRem(15);
    font-size: parseRem(14);

    span {
       margin-top: parseRem(25);
       font-size: parseRem(22);
       font-weight: 500;
       display: inline-block;
    }
}